<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activate</title>
</head>
<body>
    <container style="width: 100%; 
    height:100%; 
    min-height:100vh;
     background-color: #ff9505; 
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     ">
     <div
     style="
     height:500px;
     width:500px;
     background-color:#fff0dd;
     display:flex;
     justify-content:center;
     align-items:center;  
     "
     >
     <div style="width: 85%; padding:20px; padding-bottom:50px; display:flex; 
     align-items:center; justify-content:center; flex-direction:column;  ">

<img src="https://res.cloudinary.com/dv4dlmp4e/image/upload/v1669292465/iw92d0vivvcrojxwxaby.png" width="120" height="60",  style="padding-top:5px; object-fit: contain "  alt="" border="0"/>
     <div style="font-weight:800 ; font-size:21px;font-family: Verdana, Geneva, sans-serif;">Verify your mail address</div>
     <div style="text-align: center ; width: 100%; font-weight: 500; font-family: Verdana, Geneva, sans-serif; margin-top: 15px;">
        Thank you for creating and account with with up, <br/>In other to serve you better an to improve security and integrity both on how you use this platform and your staff as well<br/>
                
        use the button below to Activate your account!
     </div>

     <button style=" width: 150px; height: 50px; margin-top: 15px; background-color: black; font-size: 10px;
     font-weight: 700; color: white; display: flex; justify-content: center;
     align-items: center; border-radius: 6px; cursor: pointer; font-family: Verdana, Geneva, sans-serif;
     ">
        click me
     </button>
     <div style="width: 100%; margin-top: 40px; text-align: center; font-weight: 800; font-family: Verdana, Geneva, sans-serif;">
        or copy and paste this link into your browser 
     </div>
     
     <div style="width: 100%; margin-top: 70px; text-align: center;  font-family: Verdana, Geneva, sans-serif; font-weight: 800;" >
        http://localhost:3000/verify
     </div>
    </div>
     </div>
   


    </container>
    

</body>
</html>